.website {
 background-color: #F0F8FF;
    text-align: center;
    font-family: 'Oxygen', cursive;
    margin-left: auto;
    margin-right: auto;
}
.widget {
    background-color: #F0F8FF;
   text-align: center;
    font-family: 'Oxygen', cursive;
    margin-left: auto;
    margin-right: auto; 
}
.h1 {
    font-size: 35px;
    color: #778899;
}

.h2 {
    font-size: 25px;
    color: #778899;
}

.p {
    font-size: 10px;
    color: #778899;

}

.button {
    
    border: 5px solid #fff;
    font-weight: bold;
    font-size: 110%;
    font-family: 'Verdana';

}

.button2 {
     border: 5px solid #fff;
     background-color: #fff;
     font-size: 200%;
}
.entry {
    font-family: 'Oxygen', cursive;
    text-align: left;
    color: black;
    position: absolute;
    left: 5%;
    right: 10px;
    top: 50%;
    font-size: 15px;  
}

.musicsuggestion {
    text-align: left;
    border: 10px;
   font-family: 'Lobster', cursive;
   color: black;
   position: absolute;
   left: 70%;
   right: 5%;
   top: 50%;
   font-size: 20px;   
}
.buttons li {
    text-align: center;
    position: relative;
    display: inline;
}
  